.searchWeather {
    .inputHolder {
        width: 80%;
        margin: 0 auto 50px;
        position: relative;

        .searchInput {
            width: 100%;
            padding: 12px 40px;
            background-color: $white-opacity;
            color: $white;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 18px;
            border: none;
            border-radius: 20px;
    
            &:focus {
                outline: none;
                box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
            }
    
            &::placeholder {
                color: $white;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: 16px;
            }
        }
    }

    .icon-search {
        position: absolute;
        top: 14px;
        left: 15px;
    }
}