.footer {
    padding: 30px 0;

    .linkHolder {
        text-align: center;

        .footerList-item {
            padding: 5px 0;

            .footerLink {
                color: $white;
                text-decoration: underline;
            }
        }
    }
}